{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>RockLog</title>

    <link href="{% static 'rocklog/hamster.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'rocklog/css/materialize.min.css' %}" type="text/css" rel="stylesheet"
        media="screen,projection" />
    <link href="{% static 'rocklog/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body class="grey darken-4">

    <main>
        <div style="background: url({% static 'rocklog/img/bg_darken.jpg' %})"
            class="section no-pad-bot parallax-container background responsive-img" id="index-banner">
            <div class="container">
                <br><br>
                <h1 class="header center">
                    <a class="red-text text-shadow text-accent-4" href="/">
                        RockLog
                    </a>
                </h1>
                <div class="row center">
                    <h5 class="header col s12 light white-text text-shadow">Naujausios dainos iš <a class="red-text"
                            href="https://rockfm.lt/">ROCK FM</a></h5>
                </div>
                <br><br>
            </div>
        </div>

        <div class=" row grey darken-4" style="min-height:500px">
            <div class="col s12 m10 l5 offset-m1 offset-l1">
                <br />
                <ul class="collapsible grey darken-4" data-collapsible="accordion">
                    <ul class="collection">
                        <li class="collection-item grey darken-3 grey-text">
                            {% if user.is_authenticated %}
                                <p style="float: left;">{{ user.first_name }}</p>
                                <p class="center-align">
                                    <a href="{{ header_link_url }}">{{ header_link_text }}</a>
                                    <a href="{% url 'rocklog:logout' %}" class="secondary-content">
                                        <i class="material-icons grey-text logout-icon">input</i>
                                    </a>
                                </p>  
                            {% else %}
                                <p class="grey-text">&nbspPrisijunk su <a href="{% url 'social:begin' 'google-oauth2' %}">Google</a> ir išsaugok dainas!</p>
                            {% endif %}
                        </li>
                    </ul>
                    <br />
                    {% for stream_entry in stream %}
                        <li>
                            <div class="song collapsible-header red darken-4 white-text">
                                <span>{{ stream_entry.playtime }}</span>
                                &nbsp
                                <b class="artist">{{ stream_entry.song.artist }}</b> -
                                <span class="song">{{ stream_entry.song.song }}</span>
                                <a href="javascript:;" class="secondary-content" id="{{ stream_entry.song.id }}">
                                    {% if stream_entry.saved %}
                                        <i class="material-icons star-icon stared">grade</i>
                                    {% else %}
                                        <i class="material-icons star-icon">grade</i>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="collapsible-body grey darken-4">
                                <div class="video-container" id="video-container"></div>
                            </div>
                        </li>
                    {% endfor %}
                    {% if stream|length == 0 %}
                        <ul class="collection">
                            <li class="collection-item grey darken-3 grey-text">
                                <p class="grey-text">Nėra išsaugotų dainų</p>
                            </li>
                        </ul>
                    {% endif %}

                </ul>
            </div>
        </div>

        <div id="player"></div>
    </main>

    <footer class="page-footer black">
        <div class="container">
            <div class="row">
                <div class="col l6 s12"></div>
                <div class="col l4 offset-l2 s12"></div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                <a href="https://github.com/domantasjurkus" class="white-text" id="dj-link">Domantas Jurkus</a>
            </div>
        </div>
    </footer>

    <script src="{% static 'rocklog/js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'rocklog/js/materialize.min.js' %}"></script>
    <script src="{% static 'rocklog/js/index.js' %}"></script>
    <script src="https://www.youtube.com/iframe_api"></script>

</body>

</html>